[all:vars]
ansible_user=${user}
ansible_ssh_private_key_file=id_rsa
target=iqn.2018-09.ru.otus:storage.target00
pacemaker=otuscluster

[admin]
${clients.0}

[server]
${public_ip}

[clients]
%{ for addr in clients ~}
${addr}
%{ endfor ~}

[clients:vars]
ansible_ssh_common_args='-oProxyCommand="ssh -o StrictHostKeyChecking=accept-new -W %h:%p -q -i id_rsa ${user}@${public_ip}" -i id_rsa -o StrictHostKeyChecking=accept-new'
clients='${join(" ",clients)}'
server=${public_ip}
