[all:vars]
ansible_user=${user}
ansible_ssh_private_key_file=id_rsa
ansible_ssh_common_args='-oProxyCommand="ssh -o StrictHostKeyChecking=accept-new -W %h:%p -q -i id_rsa ${user}@${public_ip}" -i id_rsa -o StrictHostKeyChecking=accept-new'
target=iqn.2018-09.ru.otus:storage.target00
pacemaker=otuscluster
server=${server}
clients='${join(" ",clients)}'

[admin]
${clients.0}

[server]
${server}

[clients]
%{ for addr in clients ~}
${addr}
%{ endfor ~}
